<header>
   <style>
    #roomArea
    {
      display: flex;
      align-items: center;
    }
   </style>
   <div id = "header">
      <nav class="navbar navbar-expand-md navbar-light-outline">
      <div class="navbar-collapse collapse w-50 order-md-0 dual-collapse2">
        <form method = "post" action="/canvas" class="form-inline" id = "roomForm">
          <div class="form-group" id = "roomArea">
            <label for="roomInput" class="form-label">Exclusive_Canvas: </label>
            <input type="text" name="roomInput" class="form-control form-control-sm" placeholder="#..." id="roomInput">
            <input type="submit" class="btn btn-primary btn-sm" name="Join">
          </div>
        </form>
      </div>
      <div class="navbar-collapse collapse w-50 order-md-5 dual-collapse2">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/pixel-art">Pixel Canvas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
    </nav>
   </div>
   <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</header>