<label for="hue">Hue</label>
<input id="hue_slider" type="range" value="{{current_color}}" min="0" max="360" name="hue">
<br>
<canvas id="color_picker" width="200px" height="200px"></canvas>

<script type="module">
  {{{script}}}
</script>
