<form action="/changeHue" method="POST">
  <label for="hue">Hue</label>
  <input type="number" min="0" max="360" name="hue">
  <button type="submit">Change Hue</button>
</form>
<br>
<canvas id="color_picker" width="200px" height="200px"></canvas>

<script>
  {{{script}}}
</script>
