{{>message}}
<h3>Login</h3>
<form method = "post" action="/login">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name = "username" class="form-control" id="username" aria-describedby="username">
        <label for="password">Password</label>
        <input type="password" name = "password" class="form-control" id="password" aria-describedby="password">
        <input type="submit" class="btn btn-primary mt-3" name="Login">
    </div>
    <div>
        <small id="registrationHelp" class="form-text text-muted">Don't have an account?</small>
        <a href="/register">Register Here</a>
    </div>
</form>