<div class="container">
  <div class="row">

    <div class="col"></div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">
        <h1>Pixel Art Creator</h1>

        <div class="controls">
          <button id="clear-btn">Clear Canvas</button>
          <button id="save-btn">Save Art</button>
        </div>
      </div>
    </div>

    <div class="col"></div>

  </div>
  
  <div class="row">

    <div class="col">
      {{> color_picker}}
    </div>

    <div class="col">
      <form class="pb-2">
        {{#if saved_canvas}}
          <input id="artwork_name" placeholder="Name" value="{{artwork_name}}"> 
        {{else}}
          <input id="artwork_name" placeholder="Name"> 
        {{/if}}
      </form>
      {{> pixel-canvas rows=canvasRows}}
    </div>

    <div class="col"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/pixel-canvas.js"></script>
  <link rel="stylesheet" href="/css/pixel-canvas.css">
</div>
