<div class="container">
  {{#if canvasNumber}}
  <div>
    <label for="roomInput" class="form-label">Exclusive_Canvas: {{canvasNumber}}</label>
  </div>
  {{/if}}
  
  <div class="row">

    <div class="col"></div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">

        <form class="pb-2">
        {{!-- {{ The following input has a script that prevents the enter button(keyCode = 13) from being pressed }} --}}

        <input name="artworkName" placeholder="Untitled Artwork" onkeydown="if(event.keyCode === 13) {event.preventDefault()}">
        </form>

        <div class="d-flex align-items-center gap-3 pb-2">
          <button id="clear-btn">Clear Canvas</button>
          <button id="save-btn" type="submit">Save Art</button>
        </div>
      </div>
    </div>

    <div class="col"></div>

  </div>
  
  <div class="row">

    <div class="col">
      {{> color_picker}}
    </div>

    <div class="col">
      {{> pixel-canvas rows=canvasRows}}
    </div>

    <div class="col"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/pixel-canvas.js"></script>
  <link rel="stylesheet" href="/css/pixel-canvas.css">
</div>
