<div class="container" >

  {{#if canvasNumber}}
  <div>
    <label for="roomInput" class="form-label">Canvas: {{canvasNumber}}</label>
  </div>
  {{/if}}
  
  <div class="row">

    <div class="col"></div>

    <div class="col">
      <div class="d-flex flex-column align-items-center">

        <form class="pb-2">
        {{!-- {{ The following input has a script that prevents the enter button(keyCode = 13) from being pressed }} --}}

        <input name="artworkName" placeholder="Untitled Artwork" onkeydown="if(event.keyCode === 13) {event.preventDefault()}">
        </form>

        <div class="d-flex align-items-center gap-3 pb-2">
          <button id="clear-btn">Clear Canvas</button>
          <button id="save-btn" type="submit">Save Art</button>
          <button id="upload-btn" type="button">Upload</button>

        </div>
      </div>
    </div>

    <div class="col"></div>

  </div>
  
  <div class="row">

    <div class="col">
      {{> palette width=200 rows=paletteRows}}
      {{> color_picker width=200}}
    </div>

    <div class="col">
      <form class="pb-2">
        {{#if saved_canvas}}
          <input id="artwork_name" placeholder="Name" value="{{artwork_name}}"> 
        {{else}}
          <input id="artwork_name" placeholder="Name"> 
        {{/if}}
      </form>
      {{> pixel-canvas rows=canvasRows}}
    </div>

    <div class="col"></div>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/html-to-image@1.11.11/dist/html-to-image.min.js"></script>
  <script type="module" src="/js/palette.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/pixel-canvas.js"></script>
  <link rel="stylesheet" href="/css/style.css">

</div>
