<div class="pixel-art-container">
    <h1>Pixel Art Creator</h1>
    
    <div class="controls">
        <button id="clear-btn">Clear Canvas</button>
        <button id="save-btn">Save Art</button>
    </div>
    
    {{> pixel-canvas rows=canvasRows}}
</div>

<script src="/js/pixel-canvas.js"></script>

<link rel="stylesheet" href="/css/pixel-canvas.css">