<body>
    {{#if canvasNumber}}
    <div>
        Exclusive_Canvas: {{canvasNumber}}
    </div>
    {{/if}}
    <ul id="messages"></ul>
    <form id="chatForm" action="">
        <input id="chatInput" autocomplete="off" /><button>Send</button>
    </form>
    <div id = "messageSpot"></div>
</body>
