{{>message}}
<h3>Register</h3>
<form method = "post" action="/register">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name = "username" class="form-control" id="username" aria-describedby="username">
        <label for="password">Password</label>
        <input type="text" name = "password" class="form-control" id="password" aria-describedby="password">
    </div>
    <input type="submit" class="btn btn-primary mt-3" name="Register">
    <div>
        <small id="registrationHelp" class="form-text text-muted">Already have an account?</small>
        <a href="/login">Login Here</a>
    </div>
</form>